<p>customer-home works!</p>
<div>
    <h1>Welcome to the Customer Home Page!</h1>
    <p>Here you can find information about our products and services.</p>
    <p>Feel free to explore and contact us if you have any questions.</p>

    <div>
        <h2>Featured Products</h2>
        <ul>
            <li> <a routerLink="/customer-signup">Customer Signup</a></li>
            <li> <a routerLink="/customer-form">Customer Form</a></li>
             <li> <a routerLink="/product-catalog">Product Catalog</a></li>
        </ul>
    </div>
</div>